<clr-main-container>
    <clr-header class="branding">
      <span>
        <img src="assets/images/semtech-logo.svg" width="250" height="60">
      </span>
      
      <div class="header-actions">
        <clr-dropdown>
          <button class="nav-icon" clrDropdownTrigger aria-label="toggle settings menu">
            {{userid}}
              <cds-icon shape="user" size="md"></cds-icon>
              <cds-icon shape="angle" direction="down" size="sm"></cds-icon>
          </button>
          <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
            <a href="..." clrDropdownItem>About</a>
            <a href="..." clrDropdownItem>Preferences</a>
            <a routerLink="/login" clrDropdownItem>Log out</a>
          </clr-dropdown-menu>
        </clr-dropdown>
      </div>
    </clr-header>
  
    <nav class="subnav" [clr-nav-level]="1" >
      <ul class="nav" style="margin-left: 20%; cursor: pointer;">
        <li class="nav-item" >
          <a class="nav-link" clrVerticalNavLink [class.active] = "selectedItem == 'RegisterDevice'" (click)="onClick('RegisterDevice')" style="font-size: 18px;">Register Device(s)</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" clrVerticalNavLink [class.active] = "selectedItem == 'System'" (click)="onClick('System')" style="font-size: 18px;">System</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" clrVerticalNavLink [class.active] = "selectedItem == 'Config'" (click)="onClick('Config')" style="font-size: 18px;">Config (Template)</a>
        </li>
        <li class="nav-item" >
            <a class="nav-link" clrVerticalNavLink [class.active] = "selectedItem == 'SWRelease'" (click)="onClick('SWRelease')" style="font-size: 18px;">SW Release</a>
        </li>
        <li class="nav-item" *ngIf="role == 'advanced'">
          <a class="nav-link" clrVerticalNavLink [class.active] = "selectedItem == 'DMS'" (click)="onClick('DMS')" style="font-size: 18px;">DMS</a>
      </li>

      </ul>
    </nav>
    <div [ngSwitch]="selectedItem">
      <app-dms-main *ngSwitchCase="'DMS'"></app-dms-main>
      <app-swrelease-main *ngSwitchCase="'SWRelease'"></app-swrelease-main>
      <app-system *ngSwitchCase="'System'"></app-system>
      <app-config *ngSwitchCase="'Config'"></app-config>
    </div>
  </clr-main-container>
  