
<clr-modal [(clrModalOpen)]="opened" [clrModalSize]="'lg'">
    <h3 class="modal-title">Password Reset</h3>
    <div class="modal-body">
        <form clrForm [formGroup]="passwordresetForm" (click)="onPasswordReset()">
            <clr-input-container>
                <label class="clr-sr-only" for="userid">User ID</label>
                <input type="text" autocomplete="current-username" name="userid" clrInput formControlName="userid" />
            </clr-input-container>
            <clr-password-container>
                <label class="clr-sr-only" for="password">New Password</label>
                <input type="password" autocomplete="current-password" name="password" formControlName="password" />
            </clr-password-container>
            <clr-password-container>
                <label class="clr-sr-only" for="confirmpassword">Confirm New Password</label>
                <input type="password" autocomplete="current-password" name="confirmpassword" formControlName="confirmpassword" />
            </clr-password-container>
        </form>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="opened = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="opened = false">Ok</button>
    </div>
</clr-modal>