<form clrForm clrLayout="vertical" [formGroup]="createSwReleaseForm" (ngSubmit)="onSubmit()">
    <div class="clr-container">
        <!-- First ROW -->
        <div class="clr-row">
            <div class="clr-col-auto clr-col-lg" >
                <clr-input-container>
                    <label for="fwreleasename">FW Release </label>
                    <input type="file" clrInput name="fwreleasename" formControlName="fwreleasename" (change)="onChange($event)">
                </clr-input-container>
                <button class="btn btn-primary" type="submit" [disabled] = "isEnabled">Upload Template (Config) </button>
            </div>
        </div>
    </div>
</form>