<form clrForm clrLayout="vertical" [formGroup]="uploadTemplateForm" (ngSubmit)="onSubmit()">
    <div class="clr-container">
        <!-- First ROW -->
        <div class="clr-row">
            <div class="clr-col-auto clr-col-lg" >
                <cds-file>
                    <label for="templatename">Template (Config) </label>
                    <input type="file" clrInput name="templatename" formControlName="templatename" (change)="onChange($event)">
                </cds-file>
                <button class="btn btn-primary" type="submit" [disabled] = "isEnabled">Upload Template (Config) </button>
            </div>
        </div>
    </div>
</form>