
<form clrForm clrLayout="vertical" [formGroup]="updateaccountForm" (ngSubmit)="onSubmit()">
    <div class="clr-container">
        <!-- First ROW -->
        <div class="clr-row">
            <!--element 1-->
            <div class="clr-col clr-col-lg" >
                <clr-input-container>
                    <label for="userid">User ID</label>
                    <input clrInput name="userid" formControlName="userid" >
                </clr-input-container>
            </div>
            <div class="clr-col clr-col-lg">
                <clr-input-container>
                    <label for="password">Password</label>
                    <input clrInput name="password" formControlName="password">
                </clr-input-container>
            </div>
            <div class="clr-col clr-col-lg">
                <clr-input-container>
                    <label for="username">Name</label>
                    <input clrInput name="username" formControlName="username">
                </clr-input-container>
            </div>
            <div class="clr-col clr-col-lg">
                <clr-radio-container clrInline>
                    <label>Role</label>
                    <clr-radio-wrapper >
                        <input type="radio" clrRadio name="role" value="advanced" formControlName="role" (change)="onSelect($event,'advanced')"/>
                        <label>Advanced</label>
                    </clr-radio-wrapper>
                    <clr-radio-wrapper >
                        <input type="radio" clrRadio name="role" value="basic" formControlName="role" (change)="onSelect($event,'basic')"/>
                        <label>Basic</label>
                    </clr-radio-wrapper>
                </clr-radio-container>

            </div>
            
        </div>
        </div>
    <div>
        <cds-button class="btn btn-primary">Update Account</cds-button>
    </div>
</form>